body {
    margin:0;
    display: flex;
    justify-content: center;
    height: 100vh; /* screen height */
    align-items: center; /* centered */
    text-align: center;
    background-color: cadetblue;
    font-family: cursive;
}

form {
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
    border-radius: 10px; /* rounded border */
    margin: 10px;
}

.input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    font-size: 30px;
    text-align: center;
    padding: 10px;
    border: solid 4px green;
    color: green;
}

.input::placeholder{
    color: lightslategray;
    font-family: cursive;
}

.btn{
    background-color: green;
    color:white;
    border:none;
    display: block;
    width: 100%;
    margin: auto;
    padding: 10px;
    font-size: 20px;
    font-family: cursive;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
    cursor: pointer;
}

.btn:hover {
    filter: brightness(0.9) 
}

.score{
    color: green;
    text-align: right;
}